.sidebar {
  display: flex;
  width: 20%;
  border: 0.1px solid grey;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  top: 80px;
  flex: 0.2;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
}
